extends layout

block content
  if list
    div.table-responsive
      table.table.table-hover
        thead
          tr
            th #
            th Title
            th Images
            th Rating
        tbody
          each film in list
            tr
              td #{film.id}
              td #{film.title}(#{film.original_title})
              td
                img.img-responsive(src="#{film.images.small}", alt="#{film.title}")
              td #{film.rating.average}
  else
    | 暂无通讯
  